* {
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

.mySlides {
    display: none;
    animation: fadeIn 1s linear;
}


img {
    height: 740px;
    width: 100%;
    vertical-align: middle;
}



.slideshow-container {
    max-width: 1000px;
    margin: auto;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    user-select: none;
    top : 50%;
    width: auto;
    padding: 70px;
    margin-top: -115px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 50px  50px 0;
}

.next {
    border-radius: 50px 0 0 50px;
    padding: 70px;
    right: 0;
}

.prev:hover{
  
    background-color: black;
    color: white;
}

.next:hover {
    
    background-color: pink;
    color: white;
}